body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    font-size: 16px;
}

.container {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    text-align: center;
    padding: 0 1rem 1rem 0;
}

img {
    margin: -2rem 0 0 -2rem;
}

h1 {
    color: #e63946;
}
