body {
    font-family: 'Fira Code','JetBrains Mono',Inconsolata,Monaco,monospace;
    text-align: center;
    margin: 0;
    padding: 0;;
    height: 100vh;
    color: #33333;
    font-size: 16px;
}

header {
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px;
}

#logo {
    max-width: 200px; /* Adjust as needed */
    margin-bottom: 20px;
}

main {
    padding: 20px;
    margin: 0 auto;
}

footer {
    background-color: #333333;
    color: white;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
